* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-image: url(../images/ondas.svg);
    background-color: #22193F;
    background-repeat: no-repeat;
    background-position: center bottom;
    background-attachment: fixed;
} 
.container {
    width: 60%;
}
.imagenLogin {
    object-fit: cover;
    vertical-align: middle;
}  
.titulo {
    font-size: 28px;
    font-family: 'Nunito', sans-serif;
    font-weight: 900;
    margin-bottom: 4rem;
}
.olvidoContra {
    font-size: 16px;
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    color: #E21982;
}
.inputLogin {
    border-radius: 30px;
    padding-left: 3rem;
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    font-size: 16px;
    border-color: #C4C4C4;
}
.bi {
    position: absolute;
    width: 5%;
    color: #6A2A83;
    font-size: 20px;
    font-weight: 900; 
}
.btn {
    border-radius: 30px;
    background-color: #E21982;
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    color: white;
    margin-top: 5rem;
    padding: 1rem;
}
.btn:hover {
    border: 2px solid black;
    background-color: #E21982;
    color: white;
}
.columnaLogin {
    padding: 3rem;
}
.containerImagen {
    background-image: url(../images/img-login.jpg);  
    background-size: cover;
    background-position: center;
    background-position: fixed;
    background-repeat: no-repeat;
}
.logo {
    padding: 15rem;
}
.containerMain {
    width: 75%;
}

@media (max-width: 991px) {
    .logo {
        padding: 8rem;   
    }
}